@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
   max-width: 810px;
   height: 100%;
   margin: 0 auto;
   text-align: center;
}


/* ========== Header ========== */

.header h1 {
   text-align: left;
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
}

.header-outer {
   width: 800px;
   height: 100%;
   text-align: left;
   margin-bottom: 20px;
}

img {
   margin-bottom: 60px;
}

/* ========== Main ========== */

.about-text.bold {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 24px;
}

.about p {
   color: #424551;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 24px;
}

.about-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Review ========== */

.review p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
}

.review ul {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   list-style-type: none;
   margin-left: 58px;
}

.review-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Achievements ========== */

.company-achievements {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}
.company-achievements p {
   margin-bottom: 24px;
}

.list {
   list-style-type: none;
}

.list li {
   margin-bottom: 4px;
}

.company-outer {
   text-align: left;
   margin-bottom: 24px;
}

/* ========== Footer ========== */

.footer {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}

.footer-outer {
   text-align: left;
}